#################
# TEX WORKFILES #
#################

*.aux
*.bbl
*.blg
*.dvi
*.lot
*.lof
*.log
*.log.xml
*.out
*.out.ps
*.run
*.run.xml
*.synctex.gz
*.toc



*chrysalis-report-blx.bib

##########
# OUTPUT #
##########
#*.pdf