#################
# TEX WORKFILES #
#################
*.lot
*.out
*.out.ps
*.run.xml
*.log
*.log.xml
*.run
*.synctex.gz
*.toc
*.dvi
*.lof
*.aux
*chrysalis-report-blx.bib

##########
# OUTPUT #
##########
*.pdf